
:root {
    --color-bg-main: #170f23;
    --color-bg-sidebar: #231b2e;
    --color-purple: #7200a1;
    --text-secondary: hsla(0,0%,100%,0.5);
    --text-secondaryy: hsla(0,0%,100%,0.2);
    --text-primary: #fff;
    --navigation-text: #dadada;
    --alpha-bg: hsla(0,0%,100%,0.1);
    --layout-bg: #170f23;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}


@keyframes animate {
    0% { 
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.is-flex {
    display: flex;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    width: 100%;
}

.main {
    display: flex;
    /* overflow: hidden; */
}

.sidebar {
    width: 15%;
    padding: 16px 0;
    background-color: var(--color-bg-sidebar);
    height: 100vh;
    box-shadow: 0px 0px 2px var(--layout-bg);
    position: fixed;
}

.sidebar-logo {
    padding: 0 24px;
    margin-bottom: 12px;
}

.logo-img {
    width: 120px;
    height: 40px;
}

.logo-img-t-m {
    display: none;
}

.nav-item.khampha {
    color: var(--text-primary);
    background-color: var(--alpha-bg);
    border-left: 2px solid var(--color-purple);
}

.nav-item {
    display: flex;
    color: var(--navigation-text);
    padding: 0 20px;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
}

.nav-item:hover {
    color: var(--text-primary);
    background-color: var(--alpha-bg);
}

.nav-item .nav-item-icon {
    margin-right: 16px;
    font-size: 18px;
}

.tag{
    line-height: 0;
    margin-left: 8px;
    background-color: inherit;
}

.line {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #373041;
    margin-top: 8px;
    margin-bottom: 8px;
}

.vip-sidebar {
    width: 200px;
    height: 110px;
    background-image: linear-gradient(to right bottom, #5f4de6,#bc69d9);
    border-radius: 8px;
    padding: 12px;
    margin: 16px auto;
    text-align: center;
}

.vip-heading {
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}

.btn-buy-vip {
    outline: none;
    border: none;
    background-color:#ffdb00;
    height: 24px;
    width: 100px;
    margin-top: 16px;
    border-radius: 16px;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    
}

.btn-buy-vip:hover {
    opacity: 0.7;
}

.new-playlist {
    color: #fff;
    padding: 12px 24px;
    font-weight: 600;
}

.new-playlist-icon {
    position: relative;
    top: 4px;
    font-size: 28px;
    margin-right: 8px;
    font-weight: 400;
}

.new-playlist:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* =========================CD============================== */

.control {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: #120c1c;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-top: 1px solid #373041;
}

.control-left {
    display: flex;
    color: #fff;
    align-items: center;
    flex-basis: 30%;
}

.cd {
    position: relative;
    width: 70px;
    height: 70px;
}

.cd-node {
    font-size: 20px;
    position: absolute;
}

.nodes-list.active {
    display: inline-block;
}

.nodes-list {
    display: none;
}

.node-1 {
    top: -30px;
    left: 15px;
    animation: animate 2s linear infinite;

}

.node-6 {
    top: 20px;
    left: -20px;
    animation: animate 3s linear infinite; 
}

.node-4 {
    top: 65px;
    left: 65px;
    animation: animate 5s linear infinite;
}

.node-3 {
    top: 25px;
    left: 83px;
    animation: animate 4s linear infinite;
}

.node-5 {
    top: -10px;
    left: 75px;
    animation: animate 5s linear infinite;
}

.node-2 {
    top: 70px;
    left: 0;
    animation: animate 6s linear infinite;
}

.cd-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    border: 2px solid #eee;
}

.cd-info {
    margin-left: 12px;
}

.cd-name {
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    max-width: 100px;
}

.cd-singer {
    font-size: 13px;
    color: var(--text-secondary);
}

.control-center {
    flex-basis: 40%;
}

.btn-control-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-control-list .btn {
    margin-left: 12px;
}

.btn i {
    color: #dadada;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    display: inline-block;
}

.is-playing .icon-pause {
    display: inline-block !important;
}

.is-playing .icon-play {
    display: none !important;
}

.icon-play:hover, .icon-pause:hover {
    color: var(--color-purple);
}

.icon-pause {
    display: none !important;
}

.icon-play, .icon-pause {
    font-size: 35px!important;
}

.btn-random.active i{
    color: var(--color-purple)!important;
}

.btn-repeat.active i{
    color: var(--color-purple)!important;
}

.btn-hover:hover {
    background-color: var( --alpha-bg);
    border-radius: 50%;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
}

.progress-line {
    position: relative;
    width: 100%;
    height: 3px;
    margin: 0 10px;
}  

.progress-line:hover .line-current,
.progress-line:hover .line-first{
    height: 6px;
}

.progress-line:hover .circle {
    display: inline-block;
}

.line-first {
    width: 100%;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    border-radius: 4px;
    background: #595560;
}

.line-current {
    width: 0.;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    background: #fff;
    z-index: 2;
}

.circle {
    width: 12px; 
    height: 12px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 3;
    transform: translateY(-50%);
    display: none;
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1000;
}

.time-left, .time-right {
    color: var(--text-secondary);
    font-size: 12px;
}

.control-right {
    flex-basis: 30%;
    color: #fff;
    justify-content: flex-end;
}

.control-right i {
    font-size: 18px;
    padding: 8px 12px;
    cursor: pointer;
}

.volume-icon i {
    width: 44px;
    height: 36px;
}

.icon-volume-up {
    display: inline-block;
}

.icon-volume-mute{
    display: none;
}

.volume-icon.mute .icon-volume-mute{
    display: inline-block !important;
}

.volume-icon.mute .icon-volume-up{
    display: none !important;
}

.progress-volume-bar {
    position: relative;
    width: 100px;
    height: 3px;
    margin: 0 4px;
}  

.line-volume {
    width: 100%;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    border-radius: 4px;
    background: #595560;
}

.line-volume-current {
    width: 100%;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    background: #fff;
    z-index: 2;
}

.circle-volume {
    width: 12px; 
    height: 12px;
    border-radius: 50%;
    background-color:#fff;
    position: absolute;
    top: 50%;
    left: calc(100% - 5px);
    z-index: 3;
    transform: translateY(-50%);
    display: none;
}

.progress-volume {
    width: 100%;
    -webkit-appearance: none;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1000;
}

/* .progress-volume-bar:hover .progress-volume, */
.progress-volume-bar:hover .line-volume,
.progress-volume-bar:hover .line-volume-current{
    height: 6px;
}

.progress-volume-bar:hover .circle-volume {
    display: inline-block;
}

.player {
    flex: 1;
    background-color: #170f23;
    width: 80%;
    margin-left: 15%;
}   

.header {
    position: fixed;
    top: 0;
    left: 15%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    height: 70px;
    z-index: 1000;
    background-color: #170f23;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-btn {
    /* margin-right: 12px; */
}

.header-btn i {
    font-size: 24px;
    margin-right: 12px;
}

.header-icon-prev {
    cursor: pointer;
    color: #dadada;
}

.header-icon-next {
    color: var(--text-secondary);
}

.header-search {
    background-color:#2f2739;
    border-radius: 50px;
    width: 540px;
    padding: 0 12px;
    flex: 1;
}

.icon-search {
    font-size: 24px;
    padding: 8px;
    color: #eee;
    cursor: pointer;
}

.search-input::placeholder {
    color: #dadada;
}

.search-input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 8px 12px 8px 0;
    flex: 1;
    color: #dadada;
    font-size: 14px;
}

.header-user {

}

.header-user i {
    color: #dadada;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--alpha-bg);
    margin-right: 16px;
    cursor: pointer;
}

.icon-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
/* User profile */

.user-profile{
    margin-bottom: 120px;
    padding: 30px;
}

.head-dicover{
    display: flex;
    /* margin: 30px 30px 0px; */
}

.all-head-discover{
    width: 33.33333%;
    padding: 20px;
}

.head-imgdiscover{
    width: 100%;
    margin-top: 70px;
    border-radius: 10px;
}

/* radio-list-item-layout */

.radio-list-item-layout{
    margin-top: 30px;
}

.radio-list-item-layout-ingredient{
    padding: 0 12px;
}

.radio-name-content{
    margin-top: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    color: #fff;
    padding: 0 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.discover{
    width: 16.66667%;
    width: 100%;
    height: 1%;
    margin-bottom: 60px;
}
.content2{
    align-items: center;
    display: flex;
    text-align: left;
    border-radius: 5px;
    padding-left: 22px;
}
.content2 a:hover{
   color: #7200a1;
}
.content2 a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin-bottom: 16px;
    font-weight: 700;
    text-transform: capitalize;
    display: block;
}

.radio-media-content{
}

.radio-media-left{
    padding-left: 22px;
    margin-right: 10px;
}

.radio-media-image {
    border-radius: 4px;

    /* display: block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    flex-shrink: 0; */
}

.radio-media-image figure {
    border-radius: 5px;
    overflow: hidden;
    
}

.is-50x50 {
    width: 50px;
    height: 50px;
}

.radio-media-content{

}

.radio-subtitle{
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text-secondary);
    margin-top: 10px;
}

.radio-media-content .title{
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0 0;
    color: #fff;
}

.radio-list-item-layout-ingredient .imgradio{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.imgradio{
    border-radius: 20px;
}
.radio-list-item-layout-ingredient{
    width: 20%;
    margin-top: 10px;
}

.radio-action{
    position: relative;
    display: flex;
}

.radio-action:hover .imgradio{
    cursor: pointer;
    opacity: 0.6;
}

.radio-action .action-radio{
}

.radio-action:hover .action-radio,
.radio-action:hover .action-radio-bacham,
.radio-action:hover .action-radio-heart{
    display: block;
    opacity: 1 !important;
}

.radio-action .action-radio{
    position: absolute;
    color: #fff;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: none;
}

.radio-action .action-radio-heart{
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 20%;
    display: none;
}

.radio-action .action-radio-bacham{
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 80%;
    display: none;
}

.radio-action .action-radio-bacham .fas{
    font-size: 120%;
}

.radio-action .action-radio-heart .far{
    font-size: 160%;
}

.radio-action .action-radio .far{
    font-size: 300%;
}

/* end radio-list-item-layout */

.discover{
    display: flex;
    width: 100%;
    height: 1%;
    margin: 10px 0 60px;
}
.content1{
    width: 500px;
    height: 30px;
    /* margin-top: 35px; */
    padding-left: 20px;
}
.content1 a:hover{
   color: #7200a1;
}
.content1 a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder  ;
    color: #fff;
    margin-top: 100px;
    /* padding-bottom: 100px; */
}
.anh .imgdiscover{
    width: 100%;
    height: 95%;
    margin-right: 0px;
    /* padding:10px 30px 30px 0; */
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease;
   margin-top: -15px;
   padding: 10px;
   
}
.imgdiscover{
    border-radius: 20px;
    
}
.anh{
    width: 20%;
    margin-top: 10px;
    padding: 10px;
}
.radio-anh{
    width: 100%;
    padding: 22px;
}
.anh .imgdiscover:hover{
    transform: scale(1.1);
}
.content-radio{
    margin-left: 22px;
}
.content-radio a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder  ;
    color: #fff;
    margin-top: 100px;
}
.content-radio a:hover{
    color: #7200a1;
}
.all-radio{
    display: flex;
    width: 100%;
    height: 10%;
}
.radio{
    border-radius: 500px ;
    width: 100%;
    overflow: hidden;
    transition: 0.5s ease;
    border-top: 5px solid #cc0000;
    border-left: 5px solid rgba(185, 173, 173, 0.897);
    border-right: 5px solid rgba(185, 173, 173, 0.897);
    border-bottom: 5px solid rgba(185, 173, 173, 0.897);
}
.radio-name a{
    color: #fff;
    width: 15%;
    height: auto;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    font-weight: 800;
  
}
.radio-name{
    margin-top: 5%;
    text-align: center;
}

.radio-view {
    text-align: center;
}
.radio-view a{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.2;
}
.name-content:hover{
    color: #5f4de6;
}
.name-musician a:hover{
    color: #5f4de6;
}
.name-content{
    color: #fff;
    width: 100%;
    height: auto;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;;
    display: inline-block;
   margin-left: 15px;
}
.name-musician{
    margin-top: 5px;
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.name-musician a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: .8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.mood{
    display: flex;
    width: 100%;
    padding: 20px;
}
.mod-img{
    width: 25%;
    margin-right: 25px;
}
.mod-img:hover{
    transform: scale(1.1);
    opacity: 0.5;
}
.mood-img{
    width: 100%;
    height: 80%;
    border-radius: 15px;
}
.all-bieudo{
   border-radius: 18px;
   display: flex;
   margin: 0 16px;
   background-image: linear-gradient(to right bottom, #5f4de6,#bc69d9);;
   opacity: .95;
}
.bieudo{
    width: 70%;
    height: 500px;
    padding-left: 30px;
}
.bieudo-img{
    margin-top: 4%;
    padding: 10px 0 0 30px;
}
.bieudo-img-box{
    width: 100%;
    height: 15%;
    display: flex;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgba(189, 189, 189, 0.2);
}
.bieudo-img-box:hover{
    opacity: 0,5;
    background-color:rgba(214, 209, 209, 0.4);
}
.bieudo-text{
    /* width: 20%; */
    text-align: center;
    font-size: 40px;
    font-weight:bolder ;
    line-height: 1;
    color: cyan;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    -webkit-text-stroke: 1px #4a90e2;
    opacity: 1;
    padding: 15px 5px 14px 10px;
}
.bieudo-text2{
    color: #fff;
    padding-top: 10px;
    text-align: left;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.bieudo-img-anh{
    padding: 10px;
    border-radius: 16px;
}
.bieudo-text3{
    color:white;
    font-weight: 700;
    font-size: 20px;
    padding: 25px 10px 10px 10px;
}
.bieudo-text24{
    line-height: 1.4;
    width: 40%;
}
.bieudo-text4{
    text-decoration: none;
    color: white;
    opacity: 0.2;
    font-size: 13px;
    
}
.bieudo-click{
    background-color: #373041;
    width: 40%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    margin-top: 10%;
}

.bieudo-click:hover{
    background-color: #4a90e2;
}
.content-bieudo{
    padding: 20px;
    margin-top: 20px; 
}
.content-bieudo a{
    text-decoration: none;
    cursor: pointer;
    color:white;
    font-size: 30px;
    
}
.bieudo-text-but{
    color: white;
   
}
.post1{
    fill:White;
    stroke:red; 
    stroke-width:2;
    /* display: none; */
}

.header-left {
    display: flex;
    align-items: center;
}
.upcoming{
    display: flex;
    width: 100%;
    padding: 20px;
}
.up{
    width: 33,33%;
    margin-right: 25px;
}
.up-img{
    width: 100%;
    height: 80%;
    border-radius: 15px;
}
.up-img:hover{
    opacity: 0.5;
}
.fan{
    width: 100%;
    height: 100%;
    margin-left: 8px;
    display: flex;
}
.fan-context{
    color: white;
    padding-left: 5px;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.fan-box{
    color: white;
    margin-left: 30%;
    background-color:#7200a1;
    height: 15%;
    margin-top: -19px;
    padding: 10px;
    line-height: 15px;
    width: 35%;
    text-align: center;
    border-radius: 50px;
}
.fan-box:hover{
    opacity: 0.5;
}
.img-fan{
    width: 6%;
    height: 6%;
    border-radius: 50%;
    padding-left: 1%;
    margin-left: -7px;
}
.fan-view{
    color: white;
    padding-left: 7px;
    opacity: 0.5;
}
.content-NS{
    width: 500px;
    height: 30px;
    margin: 20px 0 -10px 20px;
}
.content-NS a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder  ;
    color: #fff;
    margin-top: 100px;
    
}
.NS-img{
    padding-left: 5px;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-right: 25px;
}
.NS-img:hover{
    opacity: 0.5;
}
.Spread{
    height: 100%;
     width: 100%;
     margin-bottom: 65px;
    display: flex;
    padding-bottom: 1%;
    margin-top: 15px;
}
.Spread-box{
    width: 33.33333%;    
    background-color: #373041;
    display: flex;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 20px;
}
.Spread-box:hover{
    opacity: 0.5;
    cursor: pointer;
}
.Spread-img{
    width: 50%;
    margin-left: 2%;
    padding: 12px;
    border-radius: 20px;
}
.Spread-text1{
    padding-top: 12px;
    color: white;
    font-size: 19px;
    font-weight: 600;
}
.Spread-text2{
    text-decoration: none;
    color: white;
    font-size: 13px;
    opacity: 0.5;
}
.Spread-text2:hover{
    color: #5f4de6;
}
.Spread-text3{
    text-align: center;
    min-width: 0;
    color: #373041;;
    font-size: 40px;
    font-weight: bolder;
    line-height: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    -webkit-text-stroke: 1px rgba(0,0,0, 0.8);
    opacity: 1;
}
.Spread-text34{
    display: flex;
    margin-top: 40%;
    margin-bottom: 10px;
}
.Spread-text4{
    padding-top: 22px;
    padding-left: 10px;
    
}
.Spread-content{
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 1%;
    display: flex;
}
.Spread-content1{
    width: 33.33333%;
    background-color: #170f23;
   margin-right: 30px;
   display: flex;
}
.Spread-content1:hover{
   opacity: 0.5;
   background-color: #373041;
}
.Spread-content-img{
    width: 20%;
    
}

.Sp-all-text{
    padding-left: 20px;
    padding-top: 1px;
    line-height: 20px;
}
.SP-text{
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}
.SP-text1 a{
    text-decoration: none;
    font-size: 13px;
    opacity: 0.5;
    color: white;
}
.support{
    width: 100%;
   margin-top: 90px;
}
.support-nap{
    display: flex;
    
}
.support-all-img{
    background-color: white;
    width: 12.5%;
    height: 70px;
   /* line-height: 140px; */
   padding: 10px;
   border-radius: 15px;
   padding-top: 15px;
   margin-right: 15px;
}
.support-img{
    width: 100%;
    height: 40px;
    line-height: 50px;
    text-align: center;

}
.support-text{
    color:white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 50px;
    opacity: 0.5;
}
.support-text:hover{
    color: #660066;
}
.tangbottom{
    margin-bottom: 65px;
    padding-top: 1%;
}
/* ----------end user profile------- */



/* -------------------- */

.playlist {
    padding: 0 32px;
    padding-top: 24px;
    display: none;
}

.playlist-header {
    justify-content: space-between;
}

.playlist-heading {
    color: #fff;
    font-size: 20px;
}

.playlist-heading i {
    margin-left: 8px;
    font-size: 24px;
}

.playlist-header-right button {
    padding: 7px 14px;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-right: 12px;
    cursor: pointer;
    color: #dadada;
}

.playlist-header-right button:hover {
    opacity: 0.7;
}

.playlist-header-right button i {
    font-size: 16px;
    margin-right: 4px;
}

.btn-upload {
    background-color: var(--alpha-bg);
}

.btn-play-all {
    background-color: var( --color-purple);
}

.playlist-body {
    padding-top: 32px;
    display: flex;
}

.playlist-body-left {
    position: relative;
    width: 250px;
}

.cd-player {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.cd-playlist {
    position: relative;
    width: 220px;
    height: 220px;
}

.cd-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.is-playing .cd-gif {
    display: inline-block;
}

/* +=========================SONG LIST======================== */
.songs-list {
    flex: 1;
    overflow-y: auto;
    height: 300px;
}

.song {
    justify-content: space-between;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.song.active {
    background-color: var(--alpha-bg);
}

.song:hover {
    background-color: #27202e;
}

.song.active .icon-song-play {
    display: inline-block;
}

.song-left {
    width: 275px;
}

.is-playing .song.active .icon-song-play {
    display: none;
}

.is-playing .song.active .gif-playing {
    display: inline-block;
}

.thumb {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-size: cover;
    margin-right: 8px;
    cursor: pointer;
}

.icon-song-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #fff;
    display: none;
}

.song:hover .icon-song-play {
    display: block;
}

.gif-playing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    color: #fff;
    display: none;
}

.song-body {

}

.song-name {
    color: #dadada;
    margin-bottom: 4px;
    max-width: 220px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* max-width: 100%; */
}

.song-singer {
    font-size: 12px;
    color: var(--text-secondary);
}

.time-total {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.time-total span{
    color: var(--text-secondary);
    font-size: 14px;
}

.song-option i{
    color: var(--text-secondary);
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}

.icon-heart {
    color: var(--color-purple) !important;
}

/* =============================Control On Mobile======================================== */
.control-on-mobile {
    position: fixed;
    top: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #120c1c;
    padding: 32px 16px 30% 16px;
    text-align: center;
    z-index: 20000;
    transition: all 0.35s ease-in-out;
    display: none;
}

.control-on-mobile.active {
    top: 0;
}

.control-on-mobile .progress-bar {
    display: none;
}

.player-on-mobile {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: relative;
}

.dashboard-on-mobile h4 {
    color: var(--color-purple);
    font-size: 16px;
}

.heading-on-mobile {
    color: #dadada;
    margin-top: 12px;
    font-size: 24px;
}

.cd-on-mobile {
    display: flex;
    justify-content: center;
    padding: 45px;
}

.cd-thumb-on-mobile {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid #dadada;
}



.mobile-icon-hide {
    color: #dadada;
    font-size: 36px;
    padding: 12px;
    position: absolute;
    top: -20px;
    left: 0;
    cursor: pointer;
}